# I. Introduction and Objective
## Candidate Introduction

> Name = ` Reyki Seprianza`

> Profile [Linkedin.com](https://www.linkedin.com/in/reyki-seprianza/)

> [See CV candidate](https://docs.google.com/document/d/1P-XA-NZ-q658xwvKPZmnoRmoclCBt6UCcqPbP_484fg/edit?usp=sharing)

> [Google Data Visualization of User Data](https://datastudio.google.com/reporting/05f40252-74b0-450d-9931-4026858339f9)

Thanks to the hiring partner Vonix, Astra Financial, and IDX for giving me a chance to work with this dataset

## Objective
I will using python to make feature engineering before make a dashboard

# II. Import

In [ ]:
#Connecting Google Collab with Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import libraries for utility
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from matplotlib.ticker import FormatStrFormatter
import warnings
warnings.filterwarnings("ignore")

# III. Data Loading

In [ ]:
#path of dataset
user_event = '/content/drive/MyDrive/Challenge-July/first question/user-events.csv'
# aave = '/content/drive/MyDrive/Challenge-July/second question/Binance_AAVEUSDT_d.csv'
# algo = '/content/drive/MyDrive/Challenge-July/second question/Binance_ALGOUSDT_d.csv'
# btc = '/content/drive/MyDrive/Challenge-July/second question/Binance_BTCUSDT_d.csv'
# doge = '/content/drive/MyDrive/Challenge-July/second question/Binance_DOGEUSDT_d.csv'
# eth = '/content/drive/MyDrive/Challenge-July/second question/Binance_ETHUSDT_d.csv'
# shib = '/content/drive/MyDrive/Challenge-July/second question/Binance_SHIBUSDT_d.csv'

In [ ]:
#make dataset into pandas dataframe
df_user = pd.read_csv(user_event)
# df_aave = pd.read_csv(aave)
# df_algo = pd.read_csv(algo)
# df_btc = pd.read_csv(btc)
# df_doge = pd.read_csv(doge)
# df_eth = pd.read_csv(eth)
# df_shib = pd.read_csv(shib)

## Given Dataset Information

> First Question
> 1. The data is about online store purchasing record
> Second Question

> 1. [AAVE](https://www.kraken.com/en-us/learn/what-is-aave-lend)
> 2. [ALGO](https://www.investopedia.com/algorand-algo-definition-5217725)
> 3. [BTC](https://www.investopedia.com/terms/b/bitcoin.asp)
> 4. [DOGE](https://www.coinbase.com/learn/crypto-basics/what-is-dogecoin)
> 5. [ETH](https://www.investopedia.com/terms/e/ethereum.asp)
> 6. [SHIB](https://www.investopedia.com/shiba-inu-shib-5207903)

 You can clink on the link for details

# IV. Feature Engginering for EDA Purpose


## User dataset

In [ ]:
#shape of dataset
df_user.shape

(885129, 9)

Shape before feature engineering

In [ ]:
#displaying 5 top row of user data
df_user.head(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06 UTC,view,1996170,2144415922528452715,electronics.telephone,NaN,31.90,1515915625519388267,LJuJVLEjPT
1,2020-09-24 11:57:26 UTC,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY
2,2020-09-24 11:57:27 UTC,view,215454,2144415927158964449,NaN,NaN,9.81,1515915625513238515,4TMArHtXQy
3,2020-09-24 11:57:33 UTC,view,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08
4,2020-09-24 11:57:36 UTC,view,3658723,2144415921169498184,NaN,cameronsino,15.87,1515915625510743344,aa4mmk0kwQ

on category_code we have item products so i will split it into category and item

In [ ]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885129 entries, 0 to 885128
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     885129 non-null  object
 1   event_type     885129 non-null  object
 2   product_id     885129 non-null  int64
 3   category_id    885129 non-null  int64
 4   category_code  648910 non-null  object
 5   brand          672765 non-null  object
 6   price          885129 non-null  float64
 7   user_id        885129 non-null  int64
 8   user_session   884964 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 60.8+ MB

In [ ]:
#Convert event_time to datetime type and extract day,month, year, hour and minute

df_user["event_time"] = pd.to_datetime(df_user["event_time"])

df_user["event_date"] = df_user["event_time"].dt.date
# df_user["event_month"] = df_user["event_time"].dt.month
# df_user["event_year"] = df_user["event_time"].dt.year
# df_user["event_hour"] = df_user["event_time"].dt.hour
# df_user["event_minute"] = df_user["event_time"].dt.minute

In [ ]:
#shape after spliting datetime series
df_user.shape

(885129, 10)

In [ ]:
#splitting category_code into category and item columns
df_user[['category', 'item']] = df_user['category_code'].str.split('.', 1, expand=True)

In [ ]:
#Shape after spliting category_code
df_user.shape

(885129, 12)

In [ ]:
df_user.head(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,event_date,category,item
0,2020-09-24 11:57:06+00:00,view,1996170,2144415922528452715,electronics.telephone,NaN,31.90,1515915625519388267,LJuJVLEjPT,2020-09-24,electronics,telephone
1,2020-09-24 11:57:26+00:00,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY,2020-09-24,computers,components.cooler
2,2020-09-24 11:57:27+00:00,view,215454,2144415927158964449,NaN,NaN,9.81,1515915625513238515,4TMArHtXQy,2020-09-24,NaN,NaN
3,2020-09-24 11:57:33+00:00,view,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08,2020-09-24,computers,peripherals.printer
4,2020-09-24 11:57:36+00:00,view,3658723,2144415921169498184,NaN,cameronsino,15.87,1515915625510743344,aa4mmk0kwQ,2020-09-24,NaN,NaN

In [ ]:
#Nan value on our data
df_user.isna().sum()

event_time            0
event_type            0
product_id            0
category_id           0
category_code    236219
brand            212364
price                 0
user_id               0
user_session        165
event_date            0
category         236219
item             236219
dtype: int64

Because in order to make EDA my asumsion is to keep mising value to make an EDA

In [ ]:
#make final dataset to eda and droping original features ,user_season and id
df_eda_user = df_user.drop(['product_id','category_id','category_code','user_session'], axis=1)

In [ ]:
df_eda_user.head(5)

,event_time,event_type,brand,price,user_id,event_date,category,item
0,2020-09-24 11:57:06+00:00,view,NaN,31.90,1515915625519388267,2020-09-24,electronics,telephone
1,2020-09-24 11:57:26+00:00,view,zalman,17.16,1515915625519380411,2020-09-24,computers,components.cooler
2,2020-09-24 11:57:27+00:00,view,NaN,9.81,1515915625513238515,2020-09-24,NaN,NaN
3,2020-09-24 11:57:33+00:00,view,pantum,113.81,1515915625519014356,2020-09-24,computers,peripherals.printer
4,2020-09-24 11:57:36+00:00,view,cameronsino,15.87,1515915625510743344,2020-09-24,NaN,NaN

In [ ]:
#shape of our final dataset
df_eda_user.shape

(885129, 8)

In [ ]:
df_eda_user.isna().sum()

event_time         0
event_type         0
brand         212364
price              0
user_id            0
event_date         0
category      236219
item          236219
dtype: int64

In [ ]:
#i decice to fill mising value with unknown because we need all data to make better visualization
df_eda_user.fillna('unknown', inplace=True)

In [ ]:
df_eda_user.head(5)

,event_time,event_type,brand,price,user_id,event_date,category,item
0,2020-09-24 11:57:06+00:00,view,unknown,31.90,1515915625519388267,2020-09-24,electronics,telephone
1,2020-09-24 11:57:26+00:00,view,zalman,17.16,1515915625519380411,2020-09-24,computers,components.cooler
2,2020-09-24 11:57:27+00:00,view,unknown,9.81,1515915625513238515,2020-09-24,unknown,unknown
3,2020-09-24 11:57:33+00:00,view,pantum,113.81,1515915625519014356,2020-09-24,computers,peripherals.printer
4,2020-09-24 11:57:36+00:00,view,cameronsino,15.87,1515915625510743344,2020-09-24,unknown,unknown

In [ ]:
df_eda_user.isna().sum()

event_time    0
event_type    0
brand         0
price         0
user_id       0
event_date    0
category      0
item          0
dtype: int64

In [ ]:
#saving dataset into csv for Google Data Studio uses
df_eda_user.to_csv('df_user_for_gds.csv', index=False)

# V. Visualization on Google Data Studio

[Go to the link click here bellow](https://datastudio.google.com/reporting/05f40252-74b0-450d-9931-4026858339f9)